<div class="pure-g-r">
    <div class="pure-u-1-3">
        <h3>Weights</h3>
        <p>mean advertised bandwidth fraction</p>
        <div class="color-indicator">
            <span class="d3-col block-0"></span>
            <span class="label">{{to-percent advertisedBandwidthAvg 4}}</span>
        </div>
        <p>mean consensus weight fraction</p>
        <div class="color-indicator">
            <span class="d3-col block-1"></span>
            <span class="label">{{to-percent consensusWeightFractionAvg 4}}</span>
        </div>
        <p>mean guard probability fraction</p>
        <div class="color-indicator">
            <span class="d3-col block-2"></span>
            <span class="label">{{to-percent guardProbabilityAvg 4}}</span>
        </div>
        <p>mean exit probability fraction</p>
        <div class="color-indicator">
            <span class="d3-col block-3"></span>
            <span class="label">{{to-percent exitProbabilityAvg 4}}</span>
        </div>
    </div>
    <div class="pure-u-2-3">
        {{ view 'combined-weight-graph'
            period=period
            data=data
            timePeriods=timePeriods
        }}
    </div>
</div>